[submodule "misc/piw/amazon-eks-pod-identity-webhook"]
	path = misc/piw/amazon-eks-pod-identity-webhook
	url = https://github.com/aws/amazon-eks-pod-identity-webhook
[submodule "tf/terraform-null-label"]
	path = tf/terraform-null-label
	url = https://github.com/cloudposse/terraform-null-label
[submodule "tf/terraform-aws-vpc"]
	path = tf/terraform-aws-vpc
	url = https://github.com/cloudposse/terraform-aws-vpc
[submodule "tf/terraform-aws-dynamic-subnets"]
	path = tf/terraform-aws-dynamic-subnets
	url = https://github.com/cloudposse/terraform-aws-dynamic-subnets
[submodule "tf/terraform-aws-eks-cluster"]
	path = tf/terraform-aws-eks-cluster
	url = https://github.com/cloudposse/terraform-aws-eks-cluster
[submodule "tf/terraform-aws-eks-iam-role"]
	path = tf/terraform-aws-eks-iam-role
	url = https://github.com/cloudposse/terraform-aws-eks-iam-role
[submodule "tf/terraform-aws-eks-node-group"]
	path = tf/terraform-aws-eks-node-group
	url = https://github.com/cloudposse/terraform-aws-eks-node-group
